body {
    margin-right: auto;
    margin-left: auto;
    width: 50rem;
}
li {
    line-height: 1.4em;
    color: #333;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
div.post ul li {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}
div.post ul li li {
    font-size: 90%;
}
div.post ul li li li {
    font-size: 90%;
}
div.post ul li li li {
    font-size: 90%;
}
div.post ol li {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #333;
}
div.post ol li li {
    font-size: 90%;
}
div.post ol li li li {
    font-size: 90%;
}
div.post ol li li li {
    font-size: 90%;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}
details {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
table {
    font-size: 1.3em;
    border-spacing: 0.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
    padding-inline-start: 0px;
}

ul.posts li {
    list-style: none;
}

button {
    background-color: #1fa3ec;
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: #aaa;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

button:hover {
    opacity: 0.85;
}

button:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

button:focus {
    outline: thin dotted #444;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    width: 50rem;
    height: auto;
}
.row .column img {
    width: 25rem;
    height: auto;

}

.frontpage-by-category li {
    padding: 0.2em 0px;
}
