---
layout: default
title: Douglas' Blog
---
<h1 style="margin-block-end: 0px;">{{ page.title }}</h1>
<table style="width:100%;font-size:1em" class="frontpage-by-category">
	<tr>
	  <td style="vertical-align:top">

		<h2>Best Posts</h2>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.tags contains "favourite" %}
			<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

		<h2>Grow</h2>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.tags contains "personal development" %}
			<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

		<h2>Fitness</h2>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.tags contains "fitness" %}
			<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

	  </td>
	  <td style="vertical-align:top">

		<h2>Projects</h2>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.tags contains "projects" or post.tags contains "facts and data" %}
			<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

		<h2>Essays</h2>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.tags contains "essay" %}
			<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

		<h2>Stories</h2>
		<ul class="posts">
		{% for post in site.posts %}
		{% if post.tags contains "story" %}
			<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

	  </td>
	</tr>
</table>
<h2>Posts by date</h2>
<ul class="posts">
{% for post in site.posts %}
	<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

